* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.body-container {
  margin: 0 auto;
  width: 1480px;
  height: 1282px;
}

a {
  text-decoration: none
}

span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  color: #4BCAFF;
}

.mda {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  color: #000000;
  margin-bottom: 40px;
}

header {
  width: 1283px;
  height: 189px;
  margin-top: 63px;
  margin-left: 98px;
  margin-right: 99px;
  box-sizing: border-box;
}


nav.container {
  width: 1283px;
  background-color: #35444F;
  height: 69px;
  vertical-align: middle;
  box-sizing: border-box;
}

.nav_list {
  text-align: center;

}

.nav_list-item {
  display: inline-block;
  font-size: 24px;
  padding: 20px 30px 20px 30px;
  border-left: 1px #FFFFFF solid;
  align-items: center;
}

.nav_list-item:last-child {
  border-right: 1px #FFFFFF solid;
}

.nav_list-item:hover {
  background-color: #222F3A;
}


.nav_list-link {
  text-decoration: none;
  color: #FFFFFF;
}

.main-block {
  display: flex;
  margin-bottom: 48px;
  margin-top: 48px;
}

.ram {
  display: block;
  width: 885px;
}

.ram-border {
  display: flex;
  width: 885px;
  height: 529px;
  margin: 0px 0px 0px 52px;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
}

.img-ram {
  width: 320px;
  height: 381px;
  /* margin: 75px 268px 73px 297px; */
  transition: transform 0.25s;
}

.img-ram:hover {
  transform: scale(1.05);
}

.aside-block {
  width: 344px;
  height: 399px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 27px;
  margin: 0px 0px 0px 100px;
  border: 1px solid #000;
}

.aside_list-link {
  text-decoration: none;
  color: #495863;
}

.aside_list-item {
  font-size: 27px;
  padding: 0 0 0 40px;
  list-style-type: none;
  line-height: 80px;
}

.aside_list-item:hover {
  padding-left: 70px;
  background-color: #DBDBDB;
}

.interval {
  margin-top: 34px;
  margin-bottom: 20px;
  margin-left: 54px;
}

.footer-list {
  width: 875px;
  display: flex;
}

.footer-block {
  width: 1280;
  height: 69px;
  display: flex;
  background: rgba(99, 105, 110, 0.48);
  margin: 0 100px 33px 100px;
}

.footer-list-block {
  margin-left: 50px;
  /* display: flex; */
}

.footer_list-link {
  text-decoration: none;
  color: black;
}

.footer_list-item {
list-style-type: none;
font-size: 28px;
padding: 20px 10px;
}

.footer_list-item :hover {
  color: #3181A6;
  border-bottom: #3181A6 solid 1px;
}


.Copyright {
  width: 190;
  height: 69px;
  font-size: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  list-style-type: none;
  align-items: center;
  padding: 20px 0 0 20px;
  margin-left: 100px;
}