*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-size: cover;
  background-image: url(../img/background.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

main {
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.wrapper {
  display: flex;
  width: 444px;
  height: 584px;
  margin: 0 auto;
  background-color: #746363;
  justify-content: center;
  align-items: center;
}


.greensquare {
  position: absolute;
  top: 35px;
  left: 0px;
  width: 18px;
  height: 18px;
  background-color: #5d3cb8;
  z-index: 1;
}


.headerwrap {
  display: flex;
  padding-top: 18px;
  justify-content: space-between;
}

header {
  height: 58px;
  width: 100%;
  background-color: rgba(54, 5, 5, 0.4);
  color: #683636;
  font-weight: 700;
}

.jorney {
  display: block;
  width: auto;
  font-size: 22px;
  font-weight: 700;
  padding-left: 70px;
  color: #2a7536;
}

nav {
  display: flex;
  width: 40%;
  height: 58px;
  justify-content: end;
  margin-right: 25px;
  align-content: center;
  margin-right: 80px;
}

.nv {
  margin-right: 27px;
}

.welcome {
  height: 19px;
  font-size: 14px;
  font-weight: 400;
  padding-left: 27px;
  padding-top: 3px;
  border-left: 1px solid rgb(223, 10, 152);
  align-content: center;
}

.link {
  color: #5e0606;
}

.filling {
  width: 324px;
  height: 517px;
}

.headblock {
  display: flex;
  justify-content: space-between;
}

.sign {
  margin-left: 31px 0 0 24px;
  width: 80px;
  height: 14px;
  color: #1b0675;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: #068d18;
}

.calend,
.email,
.compass {
  width: 23px;
  height: 23px;
}

.log {
  display: flex;
  color: #2c0c29;
  width: 39px;
  height: 14px;
  font-size: 14px;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 34px;
}

.fbflex,
.googleflex {
  display: flex;
  width: 160px;
  height: 48px;
  background-color: #305DB8;
  color: #1a0542;
  border-radius: 3px;
  padding: 10px;
  justify-items: center;
  align-items: center;
  font-size: 16px;
}

.f_img {
  width: 12.5px;
  height: 24px;
  margin-right: 19px;
  margin-left: 11px;
}

.fb {
  display: block;
  padding-left: 18px;
  border-left: 1px solid #0a162f28;
}

.g_img {
  width: 30px;
  height: 19px;
  margin-right: 7px;
  margin-left: 12px;
}

.google {
  display: block;
  padding-left: 18px;
  border-left: 1px solid #2a0d091a;
}

.googleflex {
  background-color: #32aedf;
  margin-left: 4px
}

h6 {
  text-align: center;
  overflow: hidden;
}

.line,
span {
  font-size: 14px;
  color: #848484;
  font-weight: 400;
  
}

h6>.line {
  position: relative;
  padding: 0 5px;
  display: inline-block;
}

h6>.line:before,
h6>.line:after {
  content: "";
  opacity: 15%;
  width: 152px;
  border-top: 1px solid;
  position: absolute;
  right: 100%;
  top: 50%;
}

h6>.line:after {
  left: 100%;
}

.list {
  display: block;
  width: 322px;
  height: 44px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  padding-left: 20px;
  outline: none;
}

.agree,
.list {
  color: #434343;
  font-size: 14px;
  padding-right: 10px;
}

.button {
  display: flex;
  background-color: #130546;
  border: none;
  border-radius: 4px;
  color: #ffff;
  width: 324px;
  height: 46px;
  justify-content: center;
  align-items: center;
  font-size: 16px
}

.button2 {
  display: flex;
  background-color: #360222;
  border: none;
  border-radius: 4px;
  color: #cff109;
  width: 324px;
  height: 46px;
  justify-content: center;
  align-items: center;
  font-size: 16px
}

.list:focus {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

.link:hover,
.jorney:hover {
  color: #3CB878;
}

.fbflex:hover {
  background-color: #022263;
}

.googleflex:hover {
  background-color: #AB1F09;
}

/* .button:hover {
  background-color: #01813F;
} */

.terms:hover,
.log:hover {
  text-decoration: underline;
  color: #01813F;
}

.terms:hover,
.log:hover,
.button:hover,
.googleflex:hover,
.fbflex:hover,
.link:hover,
.jorney:hover {
  transition-duration: 0.5s;
}

.confirm {
  display: flex;
  align-content: center;
  height: 20px;
  margin-bottom: 20px;
}

.terms-item {
  padding-bottom: 20px;
}

.terms {
  color: #3CB878;
}

.checkbox-btn {
  margin-right: 15px;
  width: 20px;
  border-color: #1a035a;
}

label {
  display: flex;
  height: 20px;
}

.agree {
  padding-top: 2px;
}

.nv:hover svg path {
  fill: #460240;
  transition-duration: 0.5s;
}