* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #171717;
  margin: 0 auto;
  width: 1460px;
  height: 4000px;
}

.content {}

.logo {
  padding-top: 70px;
}

a {
  color: #B08C4D;
}

.section {
  /* margin-left: 20%;
margin-right: auto; */

}

button {
  width: 218px;
  height: 50px;
  font-size: 18px;
  background-color: #171717;
  border-color: #E4B564;
  color: #E4B564;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
}

.button1 {
  margin-left: 1020px;
}



.topsection {}

.container2 {
  background-color: #0E0E0E;
  padding-bottom: 100px;
}

.discription {
  font-size: 20px;
  width: 1182px;
  margin-top: 52px;
}

.out {
  margin-top: 128px;
}


.grid-container {
  display: grid;
  width: 1460px;
  height: 1040px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 4fr);
  gap: 20px;
  margin-top: 52px;
}

.work1,
.work2,
.work3 {
  grid-column-start: span 2;
}

.work4,
.work5 {
  grid-column-start: span 3;
}

.work {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 220px;
}

.work1 {
  background-color: #634F2C;
}

.work2 {
  background-color: #B4A385;
}

.work3 {
  background-color: #E4B564;
}

.work5 {
  background-color: #635A4A;
}

.work4 {
  background-color: #B08C4D;
}

.fleet {
  padding: 161px 0 94px 0;

}

.flex {
  display: flex;
  width: 1460px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 28px;
  padding: 0 0 90px 0;
}

.cars,
.work,
.service,
.discription,
h2 {
  color: antiquewhite;
}

h2 {
  width: 1000px;
  font-size: 50px;
  font-weight: 700;
}

.boldtext {
  font-weight: 700;
}

.cars {
  font-size: 20px;
  color: #fff;
  padding: 50px 0 0 50px;
  font-weight: 500;

}

.car1 {
  width: 467px;
  height: 313px;
  background-color: #0E0E0E;
}

.car2 {
  width: 467px;
  height: 560px;
  margin-top: 20px;
  background-color: #1F1F1F;
}

.car3 {
  width: 467px;
  height: 405px;
  margin-bottom: 20px;
  background-color: #242424;
}

.car4 {
  width: 467px;
  height: 439px;
  background-color: #E4B564;
  color: #0A0909;
}

.car5 {
  width: 467px;
  height: 255px;
  margin-bottom: 20px;
  background-color: #1F1F1F;
}

.car6 {
  width: 467px;
  height: 313px;
  margin-bottom: 20px;
  background-color: #0E0E0E;
}

.car7 {
  width: 467px;
  height: 277px;
  background-color: #0A0909;
  margin-top: 20px;
}

.service-block {
  display: grid;
  color: #fff;
  grid-template-columns: repeat(3, 486px);
  grid-template-rows: repeat(2, 391px);
  justify-items: center;
  align-items: center;
  width: 1460px;
  height: 785px;
}

.ourcustomres {
  padding-top: 170px;
}

.button2 {
  margin-left: 213px;
  margin-top: 180px;
}

footer {
  background-color: #171717;
  color: #171717;
}

.service {
  width: 487px;
  height: 391px;
  text-align: center;
  padding: 150px;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}

.service1,
.service6 {
  background-color: #634F2C;
  color: #634F2C;
}

.service2 {
  background-color: #E8D2AB;
  color: #E8D2AB;
}

.service3 {
  background-color: #E4B564;
  color: #E4B564;
}

.service4 {
  background-color: #635A4A;
  color: #635A4A;
}

.service5 {
  background-color: #B08C4D;
  color: #B08C4D;
}

.servicetext {}

.service:hover {
  border: 1px solid blue;
  color: #fff;
  padding-top: 100px;
}