*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: #ffb13a;
}

body {
  background-color: black;
}

.container {
  text-align: justify;
  margin: 0 auto;
  font-weight: 800;
  font-size: 50px;
  line-height: 80px;
  width: 1600px;
  animation: textpass 30s linear;
  animation-iteration-count: infinite;
}


.subtitle,
.title {
  text-align: center;
  margin: 40px 0;
}

.title {}

@keyframes textpass {
  0% {
    transform: perspective(200px) rotateX(20deg) translateY(900px);
  }

  50% {}

  100% {
    transform: perspective(250px) rotateX(20deg) translateY(-4000px);
  }

}

.audiocontrol {
  position: fixed;
  top: 20px;
  right: 20px;
}