#hexagon {
    width: 100px;
    height: 57.735px;
    background: red;
    position: relative;
}

#hexagon::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid red;
}

body {
  margin: 0 auto;
  /* max-width: 100%; */
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul>li {
  list-style-type: none;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  height: 113px;
  /* margin-top: 30px; */
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;

}

.banner {
  height: 600px;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.list {
  display: inline-flex;
  justify-content: space-between;
  gap: 40px;
}

.bg-white {
  background: #fff;
  position: relative;
  top: 35px;
}

.logo {
  font-size: 36px;
  font-weight: 400;
  color: #424f57;
}

.logo span {
  font-family: 900;
  color: #14afca;
  text-transform: uppercase;
}

.list-item-a {
  color: #424f57;
  text-transform: uppercase;
}

.header-caption{
  font-size: 52px;

}

.banner {
  height: 600px;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.banner::after{
  content"";
  position: absolute;
  buttom: -28.8675px;
  left: 0;
  
}