*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  margin: 0;
}

/* .body {
  margin: 0 auto;


} */

header {
  /* width: 1920px; */
  height: 1120px;
  z-index: -1;
  background:
    rgba(94, 93, 88, 0.6) url(../Images/Sections_background/section-1\(header\).jpg) left top/cover no-repeat fixed;
  background-blend-mode: screen;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;


}

.nav-block {
  display: flex;
  /* width: 1160px; */
  height: 120px;
  background-color: rgba(94, 93, 88, 0.6);
  justify-content: center;

}

.nav-wrapper {
  width: 1200px;
  display: flex;
  /* align-items: center; */
  justify-content: space-around
}

.logo-block {
  margin-top: 25px;
}

.header-logo-message {
  position: static;
  display: flex;
  font-family: Montserrat;
  margin: 0;
}


.h {
  position: absolute;
  margin: 9px 0 0 13px;
  font-size: 40px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.the {
  font-weight: 400;
  font-size: 32px;
  color: rgba(255, 255, 255, 1);
  padding-top: 12px;
}

.ham {
  font-weight: 700;
  color: rgba(24, 207, 171, 1);
  font-size: 32px;
  padding-top: 12px;
}

.nav-items-header {
  display: flex;
  list-style-type: none;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 50px;

}


.nav_search_svg {
  fill: rgba(255, 255, 255, 0.6);
}

.nav_search_svg:hover {
  fill: #18CFAB;
}

.nav-item {
  margin-left: 21px;
  color: rgba(255, 255, 255, 0.6);
}
.nav-item:hover {
  color: #18CFAB;
}

.nav-item:hover:after {
    content: "";
  position: relative;
  bottom: -48px;
  display: block;
  border: 1px solid #18CFAB;
  
}
.nav-item.search:hover:after {
    content: "";
  position: relative;
  bottom: -43px;
  display: block;
  border: 1px solid #18CFAB;
  
}

.nav-content {
  display: block;
  position: absolute;
  left: 50%;
  top: 264px;
  color: rgba(255, 255, 255, 1);
  transform: translate(-50%, -50%);
  margin-top: 379px;
  text-align: center;
}

/* ======================================================================================= */
.slogan {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.wordpress {
  color: rgba(24, 207, 171, 1);
}

h1 {
  font-size: 78px;
  font-weight: 700;
}

h3 {
  font-size: 34px;
  font-weight: 400;
  color: rgba(212, 212, 212, 1);
  margin-bottom: 150px;

}

.nav-buttons {
  display: inline-flex;
}

.explore-now,
.purchase-now {
  margin-left: 26px;
  height: 63px;
  width: 169px;
  font-size: 15px;
  font-weight: 700;
  background-color: #18CFAB;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0px -5px 0px #fff;
}

.purchase-now {
  background-color: #00CBF6;
}

/* ========================================================================================= */

.four-blocks {
  display: flex;
  margin: 8px 0 0 0;
  text-transform: uppercase;
  justify-content: center;
}

.blocks {
  height: 377px;
  width: 25%;
  padding-top: 85px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 92px;
}

.block1,
.block3 {
  background-color: rgba(28, 42, 51, 1);
  color: rgba(24, 207, 171, 1);
}

.block2,
.block4 {
  background-color: rgba(24, 207, 171, 1);
  color: rgba(255, 255, 255, 1);
}

.block1 div,
.block3 div {
  margin-top: 47px;
}

.block2 div,
.block4 div {
  margin-top: 68px;
}



/* ---------Our Services -----------------------------------------------------------------*/
.topics-wrapper {
  display: flex;
  justify-content: center;


}

.topics {
  display: flex;
  width: 600px;
  justify-content: center;
  flex-direction: column;

}

h2 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.double-line-wrapper {
  display: flex;
  justify-content: center;
}

.double-line {
  margin-top: 21px;
  width: 78px;
  height: 5px;
  border-bottom: 1px solid #18CFAB;
  border-top: 1px solid #18CFAB;
  transform: matrix(1.0, 0.0, 4.0, 1.0, 0, 0.0);
}

/* ---------TABS ------------*/
ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  margin: 165px auto 0 auto;
  height: 0;
  width: 1142px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
  margin-top: 138px;
  position: relative;
}

.tab-img{
  width: 192px;
  height: 139px;
  margin-right: 15px;
}

.tabs-title {
  padding-top: 28px;
  background-color: rgba(237, 239, 239, 1);
  cursor: default;
  width: 192px;
  height: 73px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid rgba(237, 239, 239, 1);
}

.tabs-title:hover {
  display: block;
  border: 1px solid #18CFAB;
}


.tabs-title.active {
  background-color: #18CFAB;
  color: rgba(255, 255, 255, 1);
}

.tabs-item {
  display: none;
  margin-top: 27px;
  margin-bottom: 91px;

}

.tabs-item.active {
  display: block;
  line-height: 150%;
}

.tab-set {
  display: flex;
  font-size: 14px;
  font-weight: 300;
}


.tabs-title.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  display: block;
  border: 8px solid #18CFAB;
  transform: rotate(45deg);
  margin-left: 90px;
}

/*--------------everything-is-ready------------ */
.everything-is-ready {
  position: relative;
  margin-top: 235px;
  /* width: 1920px; */
  height: 476px;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../Images/Sections_background/section-2.jpg") no-repeat center;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.everything-is-ready-wrapper {
  width: 1200px;
  height: 476px;

}

h4 {
  color: rgba(24, 207, 171, 1);
  font-size: 40px;
  text-align: center;
  padding-top: 127px;
  text-transform: uppercase;
}

.everything-is-ready p {
  color: rgba(216, 216, 216, 1);
  font-size: 16px;
  text-align: center;
  padding-top: 12px;
}

.nav-buttons-enother {
  display: flex;
  justify-content: center;
  margin-top: 67px;


}

/* -----------our-amazing-work--------- */

.our-amazing-work {
  height: 1212px;
  background-color: #E9EDEF;
  padding-top: 95px;
  margin-bottom: 82px;
}

.btn-bar {
  margin: 69px auto 69px auto;
  width: 1142px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.tabs-title2 {
  padding-top: 28px;
  color: rgba(113, 113, 113, 1);
  cursor: default;
  width: 191px;
  height: 72px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  
}

.tabs-title2:hover {
  display: block;
  border: 1px solid #18CFAB;
  box-sizing: border-box;
}

.our-amazing-work-galery-wrapper {
  display: flex;
  justify-content: center;
}

.our-amazing-work-galery {
  width: 1140px;
  height: 624px;
  display: flex;
  justify-content: center;
}

.tabs2 {
  display: flex;
  margin-top: 69 px;
  
}

.galery-inserter {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.galery-inserter li {
  height: 211px;
}

.js-galery-items {
  width: 282px;
  height: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.load-btn {
  display: flex;
  background-color: #18CFAB;
  width: 168px;
  height: 63px;
  border: none;
  border-radius: 4px;
  justify-content: space-evenly;
  align-items: center;
}

.load-more {
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.js-another-side-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 282px;
  height: 100%;
  border-top: 4px solid #18CFAB;
}


.links-img {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-left: 10px;
  padding-top: 25px;
}

.chain {
  width: 43px;
  height: 43px;
  border: 1px solid #18CFAB;
  border-radius: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chain-svg {
  padding-top: 4px;
  transform: scale(1.5);
}

.square-in-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  background-color: #18CFAB;
  border-radius: 43px;
}

.square {
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.another-side-p1 {
  color: rgba(24, 207, 171, 1);
  font-size: 14px;
  font-weight: 700;
  text-align: center;

}

.another-side-p2 {
  margin-top: 10px;
  color: rgba(138, 138, 138, 1);
  font-size: 13px;
  font-weight: 300;
  text-align: center;
}

.js-another-side-wrapper {
  display: none;
}

.abc {
  height: 100%;
}

.abc:hover .js-another-side-wrapper {
  display: flex;
}

.abc:hover .js-galery-items {
  display: none;
}


/* -----------Breaking News--------- */

.breaking-news-container {
  margin-top: 68px;
  display: flex;
  height: 788px;
  background-color: #fff;
  justify-content: center;
}

.break-news-collection {
  width: 1160px;
  height: 744px;
  display: flex;
  flex-wrap: wrap;
  gap: 33px;

}

.break-news-collection-item {
  position: relative;
  width: 265px;

}



.img-date {
  position: absolute;
  height: 70px;
  width: 68px;
  background-color: rgba(32, 62, 56, 1);
  right: 0;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 12px;
  color: rgba(255, 255, 255, 1);

}

.news-item:hover .img-date {
  background-color: #18cfab;
}

.news-item:hover .break-news-collection-item-name {
  color: #18cfab;
}

.break-news-collection-item-name {
  color: rgba(113, 113, 113, 1);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 4px;
}



.break-news-collection-item-comment {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 10px;
}

.break-news-collection-item-comment :nth-child(2) {
  margin: 0 25px;
}


/* -----------What People Say About theHam--------- */
.what-people-say {
  height: 854px;
  background: url("../Images/Sections_background/section-3.jpg") rgba(0, 0, 0, 0.25) no-repeat center;
  background-size: cover;
  background-position: 0% 60%;
}

.what-people-say-container {
  padding-top: 98px;
}

.what-people-say-container-paragraph {
  padding-top: 98px;
  color: rgba(255, 255, 255, 1);
}

.h2paragraph-in-what-people-say {
  color: rgba(255, 255, 255, 1);
  ;
}

.what-people-say-container-combined-shape {
  display: flex;
  justify-content: center;
  margin-top: 68px;
}

.what-people-say-container-text-container {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.js-what-people-say-container-text {
  color: rgba(255, 255, 255, 1);
  width: 1160px;
  text-align: center;
  display: none;
}

.js-what-people-say-container-text.active {
  color: rgba(255, 255, 255, 1);
  width: 1160px;
  text-align: center;
  display: block;
}


.what-people-say-slider-container {
  margin-top: 37px;
}


.js-employe-name,
.js-employe-title {
  text-align: center;
}

.js-employe-name {
  font-size: 16px;
  font-weight: 700;
  color: rgba(24, 207, 171, 1);
  margin-bottom: 27px;
}

.js-employe-title {
  font-size: 13px;
  font-weight: 300;
  color: rgba(187, 187, 187, 1);
}

.main-slider-photo {
  display: flex;
  justify-content: center;

}

/* ----------SLIDER------------ */



.js-choosed-photo {
  width: 142px;
  height: 142px;
  border-radius: 142px;
  border: 12px solid rgba(19, 160, 132, 0.2);
  margin-top: 45px;
  overflow: hidden;
}

.photo-collection {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding-top: 58px;

}

.js-employe-photo {
  width: 58px;
  height: 58px;
  border-radius: 58px;
  border: 5px solid rgba(19, 160, 132, 0.2);
  position: relative;
  top: 0;
  transition: top 0.5s ease-in-out;
}

.js-employe-photo.active {
  top: -10px;
}

.slider-nav-btn {

  margin-top: 15px;
  font-size: 25px;
  height: 26px;
  width: 26px;
  text-align: center;
  color: rgba(187, 187, 187, 1);
  border: 1px solid rgba(187, 187, 187, 1);
  line-height: 25px;
  background-color: transparent;



}

.slider-nav-btn:hover {
  margin-top: 15px;
  font-size: 25px;
  height: 26px;
  width: 26px;
  text-align: center;
  color: rgba(187, 187, 187, 1);
  border: 1px solid rgba(187, 187, 187, 1);
  line-height: 25px;
  box-sizing: border-box;
  background-color: #18CFAB;
}


/* -----------Footer--------- */


footer {
  font-size: 14px;
  color: rgba(174, 174, 174, 1);
  /* margin-top: 120px; */
  height: 121px;
  background-color: #22353F;
  text-align: center;
  padding-top: 48px;
}

.footer-span {
  color: #18CFAB;
}



/* ================================================== */

/* .container {
  max-width: 1600px;
  margin: 0 auto;
} */



.header-logo-message {
  margin: 0;
  position: static;
}

/* .nav-items-header {
  margin: 0;
}  */